/* 自定义样式 */
body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
}

.carousel-container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

.card {
    transition: transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: translateY(-5px);
}

.view-details {
    transition: background-color 0.3s;
}

.view-details:hover {
    background-color: #0d6efd !important;
}